{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <title>Arcade</title>
    <script src="{% static 'base/base.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
</head>
<body>

<div class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url 'home' %}" class="navbar-brand">Home</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'paint' %}">Paint</a></li>
        <li><a href="{% url 'snake' %}">Snake</a></li>
        <li><a href="#sec3">Quiz</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      </ul>
    </div>
   </div>
</div>
{% block content %}
<div class="header alt vert">
  <div class="container" id="middleInfo" >

    <h1><span id="arcadeSpan">Molly's Arcade</span></h1>
      <p class="lead">The craziest, wildest, most fun arcade you've evvvvver played in...</p>
      <div>&nbsp;</div>
      <a href="{% static 'register' %}" class="btn btn-default btn-lg">Start Playing!</a>
  </div>
</div>



<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <ul class="list-inline">

        <br>Molly Carr ©2014</p>
        </ul>
        </div>
    </div>
  </div>
</footer>

{% endblock content %}
</body>
</html>