body {
    align-content: center;
}

button#start_game {
    height: 50px;
    width: 150px;
    right: 40px;
    background-color: lightgreen;
    font-size: 18px;
    border-radius: 40%;

}

br {
    padding: 80px;
}

div {
    text-align: center;
}

#canvas {
    margin-top: 100px;
    position: relative;


}
