body {
    align-content: center;
    background-color: cornflowerblue;
}

button#start_game {
    margin-top: 80px;
    height: 50px;
    width: 150px;
    right: 40px;
    background-color: lavender;
    font-size: 18px;
    border-radius: 5%;

}

br {
    margin-top: 80px;
    padding: 80px;
}

div {
    text-align: center;
}

#canvas {
    margin-top: 50px;
    position: relative;


}
